assets/statemachine/state-machine-prediction-pipeline.asl.json
{
  "Comment": "",
  "StartAt": "Prepare batches",
  "States": {
    "Prepare batches": {
      "Parameters": {
        "FunctionName": "${LambdaSplitFunctionName}",
        "Payload": {
          "S3_bucket": "${WorkingBucket}",
          "Athena_bucket": "${AthenaQueryBucket}",
          "Meter_start.$": "$.Meter_start",
          "Meter_end.$": "$.Meter_end",
          "Batch_size.$": "$.Batch_size"
        }
      },
      "Resource": "arn:aws:states:::lambda:invoke",
      "Type": "Task",
      "ResultPath": "$.batchdetail",
      "Next": "Process batches"
    },
    "Process batches": {
      "Type": "Map",
      "Next": "Finish",
      "InputPath": "$",
      "ItemsPath": "$.batchdetail.Payload",
      "Parameters": {
        "LambdaPrepareFunctionName": "${LambdaPrepareFunctionName}",
        "LambdaResultFunctionName": "${LambdaResultFunctionName}",
        "ModelName.$": "$.ModelName",
        "Athena_bucket": "${AthenaQueryBucket}",
        "S3_bucket": "${WorkingBucket}",
        "Data_start.$": "$.Data_start",
        "Data_end.$": "$.Data_end",
        "Batch_info.$": "$$.Map.Item.Value",
        "With_weather_data.$": "$.With_weather_data",
        "Forecast_period.$": "$.Forecast_period"
      },
      "Iterator": {
        "StartAt": "Anomaly detecton",
        "States": {
          "Anomaly detecton": {
            "Parameters": {
              "FunctionName": "${LambdaAnomalyFunctionName}",
              "Payload": {
                "Athena_bucket": "${AthenaQueryBucket}",
                "S3_bucket": "${WorkingBucket}",
                "Batch_start.$": "$.Batch_info.Batch_start",
                "Batch_end.$": "$.Batch_info.Batch_end",
                "Data_start.$": "$.Data_start",
                "Data_end.$": "$.Data_end",
                "Forecast_period.$": "$.Forecast_period"
              }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task",
            "ResultPath": null,
            "Next": "Prepare dataset"
          },
          "Prepare dataset": {
            "Parameters": {
              "FunctionName": "${LambdaPrepareFunctionName}",
              "Payload": {
                "Athena_bucket": "${AthenaQueryBucket}",
                "S3_bucket": "${WorkingBucket}",
                "Batch_start.$": "$.Batch_info.Batch_start",
                "Batch_end.$": "$.Batch_info.Batch_end",
                "Data_start.$": "$.Data_start",
                "Data_end.$": "$.Data_end",
                "With_weather_data.$": "$.With_weather_data",
                "Forecast_period.$": "$.Forecast_period"
              }
            },
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task",
            "ResultPath": null,
            "Next": "Transform Input Dataset"
          },
          "Transform Input Dataset": {
            "Resource": "arn:aws:states:::sagemaker:createTransformJob.sync",
            "Parameters": {
              "TransformJobName.$": "$.Batch_info.Batch_job",
              "ModelName.$": "$.ModelName",
              "TransformInput": {
                "DataSource": {
                  "S3DataSource": {
                    "S3DataType": "S3Prefix",
                    "S3Uri.$": "$.Batch_info.Batch_input"
                  }
                },
                "ContentType": "application/jsonlines",
                "SplitType": "Line"
              },
              "TransformOutput": {
                "S3OutputPath.$": "$.Batch_info.Batch_output",
                "AssembleWith": "Line"
              },
              "TransformResources": {
                "InstanceCount": 1,
                "InstanceType": "ml.m4.xlarge"
              }
            },
            "Type": "Task",
            "ResultPath": null,
            "Next": "Store Results"
          },
          "Store Results": {
            "Parameters": {
              "FunctionName": "${LambdaResultFunctionName}",
              "Payload": {
                "Athena_bucket": "${AthenaQueryBucket}",
                "S3_bucket": "${WorkingBucket}",
                "Batch_start.$": "$.Batch_info.Batch_start",
                "Batch_end.$": "$.Batch_info.Batch_end",
                "Data_start.$": "$.Data_start",
                "Data_end.$": "$.Data_end",
                "Forecast_period.$": "$.Forecast_period"
              }
            },
            "ResultPath": "$.mytask",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Type": "Task",
            "End": true
          }
        }
      }
    },
    "Finish": {
      "Type": "Succeed"
    }
  }
}